<html>
    <head>
        <title>Quiz</title>
    </head>
    <body>

        <div id="quiz-container"></div>
        
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/store-json2.min.js"></script>
        <script type="text/javascript" src="js/hogan-2.0.0.min.js"></script>
        <script type="text/javascript" src="js/jquery-2.0.2.min.js"></script>
        <script type="text/javascript" src="js/quiz-templates.js"></script>
        <script type="text/javascript" src="js/quiz.js"></script>
    </body>
</html>
