<!DOCTYPE html>
<html>
    <head>
        <title>Quiz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="css/quiz.css" />
    </head>
    <body {{# host }}class="host"{{/ host }}>
        <div class="container-narrow">
            <div class="masthead">
                <div id="scores">
                    <div class="score red" data-team="red">
                        <span class="value"></span>
                    </div>
                    <div class="score blue" data-team="blue">
                        <span class="value"></span>
                    </div>
                    <div class="score green" data-team="green">
                        <span class="value"></span>
                    </div>
                    <div class="score yellow" data-team="yellow">
                        <span class="value"></span>
                    </div>
                </div>

                <div id="player-details"></div>
            </div>

            <div id="quiz-container"></div>
        </div>

        <div class="modal hide fade" id="modal-player-details">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Player details</h3>
            </div>
            <div class="modal-body">
                <form id="player-details-form">
                    <div class="errors"></div>

                    <input name="name" placeholder="Your name" /><br />
                    <input type="radio" name="team" value="red" id="radio-team-red" /><label for="radio-team-red">Red</label>
                    <input type="radio" name="team" value="blue" id="radio-team-blue" /><label for="radio-team-blue">Blue</label>
                    <input type="radio" name="team" value="green" id="radio-team-green" /><label for="radio-team-green">Green</label>
                    <input type="radio" name="team" value="yellow" id="radio-team-yellow" /><label for="radio-team-yellow">Yellow</label><br />
                </form>
          </div>
          <div class="modal-footer">
              <a href="#" data-dismiss="modal" class="btn">Close</a>
              <a href="#" class="btn btn-primary">Save changes</a>
          </div>
        </div>


        
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/store-json2.min.js"></script>
        <script type="text/javascript" src="js/howler.min.js"></script>
        <script type="text/javascript" src="js/hogan-2.0.0.min.js"></script>
        <script type="text/javascript" src="js/jquery-2.0.2.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery.hammer.min.js"></script>

        {{# host }}
            <script type="text/javascript" src="js/quiz-templates-host.js"></script>
            <script type="text/javascript" src="js/quiz-host.js"></script>
        {{/ host }}

        {{^ host}}
            <script type="text/javascript" src="js/quiz-templates.js"></script>
            <script type="text/javascript" src="js/quiz.js"></script>
        {{/ host }}
    </body>
</html>
