body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

.score {
  border: 1px solid black;
  color: black;
  float: left;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  font-weight: bold;
}

.host .score {
  margin-bottom: 100px;
}

.score.red {
  background-color: red;
}

.score.blue {
  background-color: #3399FF;
}

.score.green {
  background-color: green;
}

.score.yellow {
  background-color: yellow;
}

#quiz-container {
  clear: both;
}

.host-score-edit {
  color: #c8c8c8;
}

#player-details {
  clear: both;
}

.you {
  font-weight: bold;
}