body {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.modal {
  text-align: left;
}

.container-narrow {
  display: inline-block;
  text-align: left;
}
.container-narrow > hr {
  margin: 30px 0;
}

#buzzer-active {
  text-align: center;
}

.red {
  color: red;
}

.blue {
  color: #3399FF;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.team-list-full li {
  color: #c8c8c8;
}


label.inline {
  display: inline-block;
  margin: 5px;
}

label.title {
  font-weight: bold;
}

input {
  color: black;
}

#label-team {
  margin: 20px 0 0 0;
}

#team-radios input {
  margin: 0;
}

#team-radios label {
  margin: 0 10px 0 1px;
}

.score {
  border: 1px solid black;
  color: black;
  float: left;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  font-weight: bold;
}

.host .score {
  margin-bottom: 120px;
}

.score.red {
  background-color: red;
}

.score.blue {
  background-color: #3399FF;
}

.score.green {
  background-color: green;
}

.score.yellow {
  background-color: yellow;
}

#quiz-container {
  clear: both;
}

.host-score-edit {
  color: #c8c8c8;
}

.host-score-edit .btn {
  padding: 8px 15px;
}

#player-details {
  clear: both;
}

.you {
  font-weight: bold;
}

#player-details {
  margin-bottom: 25px;
}

.kick-player, #btn-reset-buzzers {
  margin-bottom: 10px;
}